        <p>
            Please find enclosed {{exterior_quantity}} samples of <strong>{{exterior_colour}}</strong> to meet AAMA
            2603 / 2604 / 2605 specifications for the exterior frame finish and {{interior_quantity}} samples of
            <strong>{{interior_colour}}</strong> to meet AAMA 2603 / 2604 / 2605 specifications for the interior frames finish.
        </p>

        <p class="text-center text-em">
            Please note that a metallic color approval has an eight (8) week &amp; Non-Metallic color approval has a
            three (3) week lead time for painting of material from the date the signed authority is received by this
            office.
        </p>

        <p class="text-center text-em text-strong">
            ABOVE LEAD TIMES DO NOT INCLUDE FOR MANUFACTURING!
        </p>

        <p class="text-blue text-center text-em text-strong">
            The powder coating material cannot be ordered for project manufacturing until the approval has been
            received by Starline. As a company policy, only this signed form acts as authority for Starline to
            proceed with ordering of powder.
        </p>

        <p class="text-center text-em text-strong">
            Please note that actual color locations are to be specified on shop drawings.
        </p>

        <p class="text-center">
            If approved, please sign the back of the chip, where indicated, and return to this office within
            {{required_days}} days business days on receipt by {{required_date}}
        </p>

        <p class="text-strong">
            Please note that final stamped shop drawings cannot be provided unless this submittal form is signed as
            approved and returned.
        </p>

        <p>
            If you have any questions or concerns regarding this project, at your convenience, please do not hesitate to
            contact Starline's Contract Manager, {{project_cm_fullname}}.
        </p>

        <br>
        <p>
            Thank you,<br><br>
            <strong>Starline Windows</strong>
        </p>
    </div>
</body>
</html>
